{% extends "igblast/base.html" %}
{% block body_block %}
<div class="container-fluid">
  <br>
  <h3>GKH Lab</h3>
  <small class="text-muted"></small>
  <div class="container-fluid">
    If you are using this database, please cite
    <p>
          <br>
    <i>
       <b>Rhesus and Cynomolgus IGH Genotyping Yields Comprehensive Databases of Germline VDJ Alleles for In-Depth Immunological Studies.</b>
       <br>
       N. Vázquez Bernat, M. Corcoran, I. Nowak, M. Kaduk, X. Castro Dopico, S. Narang, P. Maisonasse,
       <br>
       N. Dereuddre-Bosquet, B. Murrell and G.B. Karlsson Hedestam, Immunity 2021
       <br>
       Available at: <a href="https://pubmed.ncbi.nlm.nih.gov/33484642/">https://pubmed.ncbi.nlm.nih.gov/33484642/</a>.
    </i>
    </p>
    The IgDiscover code used to produce the macaque database is archived at <a href='https://gitlab.com/gkhlab/igdiscover-macaca/-/tree/v0.10b'>v0.10b</a>. The latest version of the software is available at <a href="http://IgDiscover.se">IgDiscover.se</a> and updates will be available from the same site.
    <p>	
    <i>
    	<br>
	<b>VDJ expression signatures of IgM repertoires from rhesus and cynomolgus macaques reveal consistent gene level usage between individuals.</b> 
	<br>
	M. Chernyshev, M. Kaduk, M. Corcoran, G.B. Karlsson Hedestam, Frontiers in Immunology, 2022
	<br>
	Available at: <a href="https://www.frontiersin.org/articles/815680">https://www.frontiersin.org/articles/815680</a>
   </i>
   </p>
   <p>
   <br>
   <i>
	   <b>Addressing IGHV gene structural diversity enhances immunoglobulin repertoire analysis: lessons from rhesus macaque.</b>
	   <br>
	   M. Kaduk, M. Corcoran, G. B. Karlsson Hedestam, Frontiers in Immunology, 2022
	   <br>
	   Available at: <a href="https://www.frontiersin.org/articles/10.3389/fimmu.2022.818440">https://www.frontiersin.org/articles/10.3389/fimmu.2022.818440</a>
   </i>
   </p>
  </div>
</div>
{% endblock %}
