{% extends "igblast/base.html" %}
{% block body_block %}
<br>
<div class="accordion" id="accordionGenes">
  {% for species_name, species_value in context.items %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      {% if forloop.first %}
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      {% else %}
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      {% endif %}
        {{ species_name }}
      </button>
    </h2>
    {% if forloop.first %}
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionGenes">
    {% else %}
     <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGenes">
    {% endif %}
      <div class="accordion-body">
        <ul class="list-group">
          {% for locus_name, locus_value in species_value.items %}
            <li class="list-group-item">
              <p> {{ locus_name }} locus</p>
              <ul class="list-group">
                {% for chain_name, chain_value in locus_value.items %}
                <li class="list-group-item">
                  <p> {{ chain_name }} chain</p>
                <ul class="list-group">
                  {% for geneset_name, geneset_value in chain_value.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{species_name}}/{{locus_name}}/{{chain_name}}/{{geneset_name}}/">{{ geneset_name }} gene</a>
                    <span class="badge bg-primary rounded-pill">{{ geneset_value |length}}</span>
                    </li>
                  {% endfor %}
                </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
