{% extends "igblast/base.html" %}
{% load markdownify %}
{% block body_block %}
  <br>
  <h3>
  The Karolinska Macaque database
  <small class="text-muted">KIMDB ({{ version }})</small>
  </h3>
  <div class="container-fluid">
  <p>This database incorporates IGHV, IGHJ and IGHD sequences from four subgroups of macaques, namely Indian and Chinese origin Rhesus macaques and Indonesian and Mauritian origin Cynomolgus macaques comprising 45 macaques in total.</p>
  <p>All IGHV and IGHJ sequences in the database were identified using the germline inference tool IgDiscover, as described in Vázquez-Bernat et al. Immunity 2021, PMID: 33484642. In brief, two independent IgM libraries were sequenced for each of 45 macaques (27 rhesus macaques and 18 cynomolgus macaques), utilizing a 3' UMI introduced during cDNA synthesis followed by 5' multiplex set amplification. The study was performed using an updated version of IgDiscover and used the Cirelli et al. IGHV, IGHJ and IGHD sequences as the starting database during germline inference. The resulting combined database contains 1197 IGHV, 53 IGHD and 16 IGHJ alleles. Several alleles were present in both rhesus and cynomolgus macaques.
  </p>
 </div>
 <br>
 {% load static %}

 <div class="container-fluid">

 <div class="clearfix">
   <img src="{% static 'igblast/RhesusIGHV.jpg' %}" class="dendogram col-md-6 float-md-end mb-3 ms-md-3" alt="...">
   <b>Rhesus macaques</b>
   <p>
  Phylogenetic analysis of IGHV alleles identified by IgDiscover in the 27 rhesus macaques (15 Indian origin and 12 Chinese origin). IGHV families are indicated by arcs in different colors and alleles identical to those reported in Cirelli et al. are shown in red dashed lines. The scale bar represents the expected number of nucleotide substitutions per site. A total of 761 IGHV alleles were identified in the 27 animals and the number of alleles in each IGHV family is indicated in the inserted table.</p>
 </div>

 <div class="clearfix">
 <img src="{% static 'igblast/IGHVCynomolgus.jpg' %}" class="dendogram col-md-6 float-md-end mb-3 ms-md-3" alt="...">
   <b>Cynomolgus macaques</b>
   <p>Phylogenetic analysis of IGHV alleles identified by IgDiscover in 18 cynomolgus macaques (12 Mauritian origin and 6 Indonesian origin). IGHV families are indicated by arcs in different colors and alleles identical to those present in the IMGT cynomolgus database (downloaded in May 2020) are shown in red dashed lines. The scale bar represents the expected number of nucleotide substitutions per site. A total of 615 IGHV alleles were identified in the 18 animals and the number of alleles in each IGHV family is indicated in the inserted table.</p>
 </div>
 </div>

  <div class="container-fluid">
  <p class="h3">Changelog</p>
  <div class="list-group">
    {% if latest_changelog_list %}
        {% for logentry in latest_changelog_list %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ logentry.title }} </h5>
                <small>{{ logentry.pub_date }}</small>
              </div>
              <small>
              <p class="text-sm-left">{{ logentry.description|markdownify }}</p>
              </small>
            </a>
        {% endfor %}
    {% else %}
        <p class="mb-1">No changelogs are available.</p>
    {% endif %}
  </div>
  </div>
  <br>
{% endblock %}
