{% extends "igblast/base.html" %}
{% block body_block %}
<h3>Results</h3>
<div class="container-fluid">
{% if table %}
{% autoescape off %}
  {{ table }}
{% endautoescape %}
{% endif %}
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $('#tsv').DataTable({
        buttons: ['csv']
      } );
  });
</script>
{% endblock %}
