{% extends "igblast/base.html" %}
{% block body_block %}
<br>
<div class="container-fluid">
<div class="card">
  <div class="card-header">
    <h3>IgBLAST</h3>
    <div class="card-body">
      <p>Uses IgBLASTn v1.17 tool for quick assignment against KIMDB ({{ version }}). </p>
      <p>To search NGS datasets we recommend you download the standalone <a href="http://docs.igdiscover.se/">IgDiscover</a> program and use our <a href="/datasets/">database</a> for the analysis.</p>
    <form action="/search/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label class="form-label" for="fastaLabel">Enter nucleotide sequences in FASTA (max 5000 characters)</label>
        <textarea class="form-control" name="fasta_text" rows="4" required id="id_fasta_text"></textarea>
        <br>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <label class="input-group-text" for="locus_nameLabel">Species</label>
          <select class="form-select" name="species_name" required id="id_species_name">
            <option value="All">All</option>
            {% for species_name in species %}
            <option value="{{ species_name }}">{{ species_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="locus_nameLabel">Locus</label>
          <select class="form-select"  name="locus_name" required id="id_locus_name">
            {% for locus_name in locus %}
            <option value="{{ locus_name }}">{{ locus_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="chain_nameLabel">Chain</label>
          <select class="form-select"  name="chain_name" required id="id_chain_name">
            {% for chain_name in chain %}
            <option value="{{ chain_name }}">{{ chain_name }}</option>
            {% endfor %}
          </select>
        </div>
        <p><b>Note:</b> Your query will be stored on the server due to the nature of IgBLASTn program.</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>
</div>
</div>
</div>
{% endblock %}
